@import '../../styles.scss';

:host {
    @extend %card;
    height: 55px;
    margin-bottom: 20px;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;

    & p {
        color: $primary-text;
    }
    
    & > .score {
        flex: 60%;
        text-align: right;
    }
}