<section class="fn-card" *ngIf="quote; else loading">
  <article class="fn-card__title">
    Topic: {{quote.tags[0]}}
  </article>
  <div class="fn-card__content">
    {{quote.text}}
  </div>
  <div class="fn-card__buttons">
    <button class="button button--active" (click)="sumbitAnswer(quote._id, true)">Real News</button>
    <button class="button" (click)="sumbitAnswer(quote._id, false)">Fake News</button>
  </div>

  <!-- Answer Overlay -->
  <div class="card-overlay" [class.correct-overlay]="answer === 'CORRECT'" [class.incorrect-overlay]="answer === 'INCORRECT'">
    <span class="card-overlay__hide" aria-label="close overlay" (click)="answer = null">&times;</span>
    <article class="card-overlay__content" *ngIf="answer === 'CORRECT'; else incorrect">
      <i class="material-icons">check_circle_outline</i>
      <h3>Correct Answer</h3>
      <p>Source:
        <a href={{quote.source}} *ngIf="quote.source">{{quote.source}}</a>
      </p>
    </article>
    <ng-template #incorrect>
      <article class="card-overlay__content">
        <i class="material-icons">highlight_off</i>
        <h3>Incorrect Answer</h3>
        <p>Source:
          <a href={{quote.source}} *ngIf="quote.source">{{quote.source}}</a>
        </p>
      </article>
    </ng-template>
  </div>
</section>

<!-- Skeleton loading screen -->
<ng-template #loading>
  <section class="fn-card">
    <article class="fn-card__title">
      Topic:
      <span class="skeleton__title"></span>
    </article>
    <div class="fn-card__content">
      <span class="skeleton__content"></span>
      <span class="skeleton__content"></span>
      <span class="skeleton__content"></span>
      <span class="skeleton__content"></span>
      <span class="skeleton"></span>
    </div>
    <div class="fn-card__buttons">
      <button class="button button--active">Real News</button>
      <button class="button">Fake News</button>
    </div>
  </section>
</ng-template>
