<section class="fn-card" *ngIf="quizItem; else loading">
  <!-- Answer Overlay -->
  <div class="card-overlay" 
    [@toggleOverlay]="toggleOverlay"
    (@toggleOverlay.done)="onOverlayComplete($event)" 
    [style.backgroundColor]="backgroundColor">

    <span class="card-overlay__hide" aria-label="close overlay" 
      (click)="toggleOverlay = 'hide'">
      &times;
    </span>
    <article class="card-overlay__content">
      <i class="material-icons">{{ overlayIcon }}</i>
      <h3>{{ overlayHeader }}</h3>
      <p>Source:
        <a *ngIf="quizItem.source" href={{quizItem.source}}>{{ quizItem.source }}</a>
      </p>
    </article>
  </div>
  <!-- Answer Overlay End -->

  <!-- Card Content -->
  <article class="fn-card__title">
    Topic: {{ quizItem.tags[0] }}
  </article>
  <div class="fn-card__content">
    {{ quizItem.quizItemText }}
  </div>
  <div class="fn-card__buttons">
    <button class="button button--active" (click)="sumbitAnswer(quizItem.quizItemId, true)" [disabled]="disableBtn">
      Real News
    </button>
    <button class="button" (click)="sumbitAnswer(quizItem.quizItemId, false)" [disabled]="disableBtn">
      Fake News
    </button>
  </div>
  <!-- Card Content End -->

</section>

<!-- Skeleton loading screen -->
<ng-template #loading>
  <section class="fn-card">
    <article class="fn-card__title">
      Topic:
      <span class="skeleton__title"></span>
    </article>

    <div class="fn-card__content">
      <span class="skeleton__content"></span>
      <span class="skeleton__content"></span>
      <span class="skeleton__content"></span>
      <span class="skeleton__content"></span>
      <span class="skeleton"></span>
    </div>

    <div class="fn-card__buttons">
      <button class="button button--active">Real News</button>
      <button class="button">Fake News</button>
    </div>
  </section>
</ng-template>
<!-- Skeleton loading screen end -->
