<section class="fn-card" *ngIf="quote; else loading">
  <!-- Answer Overlay -->
  <div class="card-overlay" [@toggleOverlay]="answer ? 'show' : 'hide'"
    (@toggleOverlay.done)="onOverlayComplete($event)" [style.backgroundColor]="answer === 'CORRECT' ? 'green' : 'red'">
    
    <span class="card-overlay__hide" aria-label="close overlay" (click)="answer = null">&times;</span>
    
    <article class="card-overlay__content">
      <i class="material-icons">{{answer === 'CORRECT' ? 'check_circle_outline' : 'highlight_off'}}</i>
      <h3>{{answer === 'CORRECT' ? 'Correct Answer' : 'Incorrect Answer'}}</h3>
      <p>Source:
        <a *ngIf="quote.source" href={{quote.source}}>{{quote.source}}</a>
      </p>
    </article>
  </div>

  <!-- Card Content -->
  <article class="fn-card__title">
    Topic: {{quote.tags[0]}}
  </article>

  <div class="fn-card__content">
    {{quote.text}}
  </div>

  <div class="fn-card__buttons">
    <button class="button button--active" (click)="sumbitAnswer(quote._id, true)" [disabled]="disableBtn">
      Real News
    </button>

    <button class="button" (click)="sumbitAnswer(quote._id, false)" [disabled]="disableBtn">
      Fake News
    </button>
  </div>
</section>

<!-- Skeleton loading screen -->
<ng-template #loading>
  <section class="fn-card">
    <article class="fn-card__title">
      Topic:
      <span class="skeleton__title"></span>
    </article>

    <div class="fn-card__content">
      <span class="skeleton__content"></span>
      <span class="skeleton__content"></span>
      <span class="skeleton__content"></span>
      <span class="skeleton__content"></span>
      <span class="skeleton"></span>
    </div>

    <div class="fn-card__buttons">
      <button class="button button--active">Real News</button>
      <button class="button">Fake News</button>
    </div>
  </section>
</ng-template>
