@import '../../styles.scss';

%skeleton-item {
  width: 150px;
  height: 17px;
  display: block;
  border-radius: $card-border-radius;
  background-color: lighten($secondary, 10%);
}

:host {
  @extend %card;
}

.fn-card {
  height: 100%;
  display: block;

  .fn-card__topic {
    height: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: $primary-text;
  }
  
  .content-wrapper {
    @extend %absolute-center;
    
    &.fn-card__quote {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }

  .fn-card__quote { 
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    margin: 0px;
    margin-bottom: 20px;
    line-height: 1.5;
    overflow-y: auto;
    color: darken($primary, 0%);
    @media screen and (min-width: 481px) {
      height: 200px;
      margin-bottom: 15px;
    }
  }
}

.fn-card__buttons {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .button {
    border: 2px solid lighten($primary, 8%);
    width: 100%;
    height: 35px;
    display: block;
    border-radius: $button-border-radius;
    background-color: lighten($primary, 8%);
    color: #ffffff;
    transition: background-color 0.3s ease-in;
    &:first-of-type {
      margin-right: 0px;
    }
    &:last-of-type {
      margin-left: 0px;
      margin-top: 12px;
    }
    &:hover {
      cursor: pointer;
      color: #ffffff;
      border: 2px solid $primary;
      background-color: $primary;
    }
    .loading-icon {
    	position: absolute;
    	top: 0;
    	right: 0;
    	width: 100%;
    	height: 100%;
    }
  }
  @media screen and (min-width: 481px) {
    flex-direction: row;
    .button {
	    height: 52px;
      &:first-of-type {
        margin-right: 7px;
      }
      &:last-of-type {
        margin-left: 7px;
        margin-top: 0px;
      }
    }
  }
}

.skeleton {
  @extend %skeleton-item;
  &__title {
    @extend %skeleton-item;
    width: 40%;
    margin-left: 9px;
    background-color: lighten($primary-text, 8%);
  }
  &__content {
    @extend %skeleton-item;
    width: 100%;
    margin-bottom: 9px;
  }
}

.card-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.92;
  border-radius: $card-border-radius;
  color: #ffffff;

  &__hide {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 2rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
  }

  .source {
    color: #ffffff;
  }
}
